body{
  padding: 20px;
  font-size: 18px;
}
.textInput{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.textInput input{
 border-radius: 10px;
 height: 40px;
 font-size: 20px;
}
.textInput div{
  color: red;
  display: block;
}
.radioInput input{
  width:18px;
  height: 18px;
}
select{
  width: 200px;
  margin: 20px 0px 20px;
}
#checkboxOption{
  width: 18px;
  height: 18px;
}
#submit{
  width: 80%;
  font-size: 24px;
  background-color: inherit;
  border: 2px solid rgb(0, 183, 255);
  color: rgb(0, 183, 255);
  padding: 20px;
  display: block;
  margin: 0 auto;
}